@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.calculatorApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
}
.screen {
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.outputScreen,
.inputScreen {
  padding: 15px;
  color: #aaa;
  text-align: right;
  height: 50px;
}
.outputScreen {
  font-size: 22px;
}
.inputScreen {
  font-size: 18px;
}
.btnKeys {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}
.key {
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
